#avatar {
	border: dashed #0091de 3px;
	float: right;
	width: 500px;
	height: 415px;
}

#content {
	border-radius: 3px;
	background-color: #e3e3e3;
}

.container {
	margin-bottom: 5px;
}
