* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	background-color: #fafaf0;
}

#all_content {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: sans-serif;
	font-size: small;
}

#content {
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}

@media (min-width: 1024px) {
	#content {
		width: 800px;
		margin: auto;
		font-size: 100%;
	}
}

@media (hover),
(min-width:0\0),
(min--moz-device-pixel-ratio: 0) {
	nav a:hover {
		color: #39e5e5;
	}
}

nav a {
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

header {
	background: linear-gradient(to top right, #231d6a, #c7c9ff);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 10px;
	font-size: 180%;
}

section {
	border-radius: 3px;
	background-color: #e3e3e3;
	padding: 15px 20px;
	text-align: left;
	font-size: 110%;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	padding: 15px;
	background-color: #868686;
	font-size: 70%;
	color: #efe5d0;
	text-align: center;
}

article h1,
article p {
	margin: 10px 0px;
}

nav ul li {
	display: inline;
	padding: 10px;
}

nav ul li a {
	color: #ededed;
}

a {
	text-decoration: none;
}

.selected {
	background-color: #190862;
}

article h1 {
	font-size: 130%;
}

article time {
	color: #818181;
	padding-left: 10px;
}

article p,
article div {
	text-indent: 20px;
}

#mountain {
	width: 90%;
	height: 80%;
}

.helloworld {
	text-align: center;
	font-size: 200%;
}

#hello {
	color: #f71e93;
}

#world {
	color: #26ce08;
}
