html,
body {
	height: 100%;
}

@media (max-width: 320px) {
	body {
		width: 30%;
	}
}

@media (max-width: 480px) {
	body {
		width: 50%;
	}
}

@media (max-width: 768px) {
	body {
		width: 70%;
	}
}

@media (max-width: 1024px) {
	body {
		width: 100%;
	}
}

body {
	margin: 0;
	padding: 0;
	font-size: small;
	font-family: sans-serif;
	background-color: #fafaf0;
}

#content {
	border-radius: 3px;
	min-height: 100%;
	width: 800px;
	margin: 0px auto;
}

header {
	background: linear-gradient(to top right, #231d6a, #c7c9ff);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 10px;
	font-size: 180%;
}

.container {
	margin-bottom: 5px;
	background-color: #e3e3e3;
}

section {
	padding: 15px 20px;
	text-align: left;
	line-height: 120%;
	font-size: 110%;
}

footer {
	margin-bottom: 0px;
	background-color: #868686;
	font-size: 70%;
	color: #efe5d0;
	text-align: center;
}

nav ul {
	margin: 0;
}

nav ul li {
	display: inline;
	padding: 10px;
}

nav ul li a {
	color: #ededed;
}

nav a {
	text-decoration: none;
}

a:hover {
	color: #39e5e5;
}

.selected {
	background-color: #190862;
}

article h1 {
	font-size: 130%;
}

time {
	color: #818181;
	font-family: sans-serif;
	padding-left: 10px;
}

article p,
article div {
	text-indent: 20px;
}

.helloworld {
	float: right;
	font-family: sans-serif;
	font-size: 500%;
}

#hello {
	color: #f71e93;
}

#world {
	color: #26ce08;
}

#mountain {
	width: 700px;
	height: 393px;
}
