* {
	margin: 0;
	padding: 0;
	background-color: #fefefe;
}

body {
	font-family: san-serif;
}

@media (min-width: 240px and max-width: 320px) {}

@media (min-width: 320px and max-width: 480px) {

	/*#main_width,
	nav,
	ul li {
		width: 20px;
		margin: auto;
		font-size: 60%;
	}

	nav h1 {
		text-align: left;
	}

	li h3 {
		width {
			width: 220px;
		}
	}*/
}

@media (min-width: 480px and max-width: 768px) {

	/*#main_width,
	ul li {
		width: 500px;
		margin: auto;
		font-size: 90%;
	}

	footer {
		width: 100%;
		font-size: 70%;
	}

	nav {
		width: 400px;
		font-size: 100%;
		padding-left: 5px;
	}

	li h3 {
		width: 430px;
	}*/
}

@media (min-width: 768px and max-width: 1024px) {}

@media (min-width: 1024px and max-width: 1920px) {

	/*#main_width,
	nav,
	ul li {
		width: 800px;
		margin: auto;
		font-size: 100%;
	}

	li h3 {
		width: 700px;
	}*/
}

@media (min-width: 1920px) {

	/*#main_width,
	nav,
	ul li {
		width: 800px;
		margin: auto;
		font-size: 100%;
	}

	li h3 {
		width: 700px;
	}*/
}

nav {
	border-bottom: 5px solid #000000;
}

section {
	padding: 10px 0px;
}

a {
	text-decoration: none;
}

a:visited,
a:link {
	color: #424242;
}

h1 {
	font-size: 160%;
	padding: 15px 0px;
	text-align: center;
}

h1 a:link,
h1 a:visited {
	color: #734bb2;
}

nav a {
	transition: 0.2s linear;
}

nav a:hover {
	color: #424242;
}

h1,
h2 {
	font-family: Open Sans, arial, sans-serif;
}

h2 {
	padding-top: 10px;
	font-size: 110%;
}

ul {
	list-style: none;
	padding: 10px;
}

li h3 {
	padding: 7px 0px 5px 15px;
	border-bottom: 1px dotted #000000;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

li h3:hover {
	background-color: #d1fff7;
	padding-left: 25px;
	color: #734bb2;
}

footer {
	padding: 30px;
	background-color: #303030;
}

footer p,
#author {
	color: #d3d3d3;
	background-color: #303030;
	text-align: center;
	line-height: 25px;
}

#author {
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}

#author:hover {
	color: white;
}

#avatar {
	border-radius: 2px;
}
