* {
	margin: 0;
	padding: 0;
	background-color: #fefefe;
	font-family: san-serif;
}

@media (max-width: 320px) {
	body {
		width: 30%;
	}
}

@media (max-width: 480px) {
	body {
		width: 50%;
	}
}

@media (max-width: 768px) {
	body {
		width: 70%;
	}
}

@media (max-width: 1024px) {
	body {
		width: 600px;
		margin: auto;
	}
}

@media (max-width: 1920px) {
	body {
		width: 700px;
		margin: auto;
	}
}

nav {
	margin: 5px;
	border-bottom: 3px solid #424242;
}

section {
	padding: 10px;
	margin: 5px;
}

h1 {
	font-family: Open Sans, arial, sans-serif;
	font-size: 110%;
}

nav h1 {
	padding-bottom: 10px;
	text-align: center;
}

ul {
	list-style: none;
	padding: 10px;
}

a {
	text-decoration: none;
}

a:visited,
a:link {
	color: #424242;
}

li h3 {
	padding: 7px;
	border-bottom: 1px dotted #424242;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

li h3:hover {
	background-color: #fcf5f5;
	padding-left: 15px;
	color: #f03838;
}

li h3 a {
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

li h3:hover a {
	color: #f03838;
	background-color: #fcf5f5;
}

nav a {
	transition: 0.2s linear;
}

nav a:hover {
	color: #18e5dd;
	text-decoration: underline;
}

#avatar {
	border-radius: 2px;
}
